/* sp site css */
.sp-user-information {
    height: 86vh;
    background-size: cover;
    text-align: center;
    position: relative;
    font-size: 16px;
    text-align: left;
  }
  .sp-user-information h2 {
    font-size: 22px;
    font-weight: 100;
  }
  .sp-bg-rgba {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .sp-user-image {
    width: 350px;
    height: 200px;
    border-radius: 10px;
  }
  .sp-services-wrapper {
    padding-top: 10px;
  }
  .sp-services-wrapper h2 {
    font-size: 22px;
    font-weight: 10;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .sp-services-wrapper p {
    margin-bottom: 40px;
  }
  .sp-services-wrapper .user-info {
    text-align: left;
    font-size: 1.2em;
  }
  .sp-standard-information {
    margin-left: 30px;
    font-size: 1.2em;
  }
  .friend-request-button {
    margin-bottom: 36px;
    text-align: center;
  }
  
  /* swiper */
  .sp-swiper-container {
    margin-top: 30px;
    width: 90%;
    height: 400px;
  }
  .sp-my-swiper {
    height: 300px;
    width: 100%;
  }
  .sp-swiper-slide {
    text-align: center;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sp-slide-image {
    margin-top: 60%;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 10px;
  }
  .sp-swiper-button-prev,
  .sp-swiper-button-next {
    position: absolute;
    top: 65%;
    width: 27px;
    height: 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .sp-swiper-button-prev {
    background-image: url('~@/assets/images/prev.png');
    margin-left: 30%;
    background-size: 70px 70px;
  }
  .sp-swiper-button-next {
    background-image: url('~@/assets/images/next.png');
    margin-left: 60%;
    background-size: 70px 70px;
  }
  